USE [master]
GO
/****** Object:  Database [ventas_dbx]    Script Date: 7/30/2026 10:33:15 PM ******/
CREATE DATABASE [ventas_dbx]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ventas_dbx', FILENAME = N'C:\D\bigdata\Datadb\ventas_dbx.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [SECUNDARY] 
( NAME = N'ventas_debsec', FILENAME = N'C:\D\bigdata\Datadb\secundary\ventas_debsec.ndf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ventas_dbx_log', FILENAME = N'C:\D\bigdata\Datadb\ventas_dbx_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ventas_dbx].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ventas_dbx]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] NOT NULL,
	[CountryName] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[CityID] [int] NOT NULL,
	[CityName] [varchar](25) NOT NULL,
	[CountryID] [int] NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[CountryID] [int] NOT NULL,
	[CityID] [int] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[customer_view]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[customer_view] AS 
SELECT 
    CONCAT(cust.FirstName, ' ', cust.LastName) AS FullName,
    cust.Email,
    cust.Phone,
    coun.CountryName AS Country, 
    ct.CityName AS City
FROM Customers AS cust 
LEFT JOIN Countries AS coun ON cust.CountryID = coun.CountryID 
LEFT JOIN Cities AS ct ON cust.CityID = ct.CityID;

  
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [varchar](25) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] NOT NULL,
	[ProductName] [varchar](150) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[top_products_view]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[top_products_view] AS
SELECT
    p.ProductID,
    p.ProductName,
    c.CategoryName,
    SUM(od.Quantity) AS TotalQuantity,
    SUM(od.TotalPrice) AS TotalRevenue,
    COUNT(DISTINCT od.OrderID) AS NumberOfOrders
FROM Products AS p
INNER JOIN Categories AS c ON p.CategoryID = c.CategoryID
INNER JOIN Order_Details AS od ON p.ProductID = od.ProductID
GROUP BY p.ProductID, p.ProductName, c.CategoryName;
GO
/****** Object:  View [dbo].[sales_by_product_view]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[sales_by_product_view] AS
SELECT
    p.ProductID,
    p.ProductName,
    c.CategoryName,
    SUM(od.Quantity) AS TotalQuantity,
    SUM(od.TotalPrice) AS TotalSales
FROM Products AS p
INNER JOIN Categories AS c ON p.CategoryID = c.CategoryID
INNER JOIN Order_Details AS od ON p.ProductID = od.ProductID
GROUP BY p.ProductID, p.ProductName, c.CategoryName;
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[sales_by_customer_view]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ONj
GO

CREATE VIEW [dbo].[sales_by_customer_view] AS
SELECT
    cust.CustomerID,
    CONCAT(cust.FirstName, ' ', cust.LastName) AS FullName,
    coun.CountryName AS Country,
    ct.CityName AS City,
    COUNT(DISTINCT o.OrderID) AS TotalOrders,
    SUM(od.TotalPrice) AS TotalSales
FROM Customers AS cust
INNER JOIN Orders AS o ON cust.CustomerID = o.CustomerID
INNER JOIN Order_Details AS od ON o.OrderID = od.OrderID
LEFT JOIN Countries AS coun ON cust.CountryID = coun.CountryID
LEFT JOIN Cities AS ct ON cust.CityID = ct.CityID
GROUP BY cust.CustomerID, cust.FirstName, cust.LastName, coun.CountryName, ct.CityName;
GO
/****** Object:  View [dbo].[sales_by_month_view]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[sales_by_month_view] AS
SELECT
    YEAR(o.OrderDate) AS Year,
    MONTH(o.OrderDate) AS Month,
    COUNT(DISTINCT o.OrderID) AS TotalOrders,
    SUM(od.Quantity) AS TotalQuantity,
    SUM(od.TotalPrice) AS TotalSales
FROM Orders AS o
INNER JOIN Order_Details AS od ON o.OrderID = od.OrderID
GROUP BY YEAR(o.OrderDate), MONTH(o.OrderDate);
GO
/****** Object:  View [dbo].[top_5_products_view]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[top_5_products_view] AS
SELECT TOP 5
    p.ProductID,
    p.ProductName,
    c.CategoryName,
    SUM(od.Quantity) AS TotalQuantity,
    SUM(od.TotalPrice) AS TotalSales
FROM Products AS p
INNER JOIN Categories AS c ON p.CategoryID = c.CategoryID
INNER JOIN Order_Details AS od ON p.ProductID = od.ProductID
GROUP BY p.ProductID, p.ProductName, c.CategoryName
ORDER BY TotalQuantity DESC;
GO
/****** Object:  View [dbo].[top_5_customers_view]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[top_5_customers_view] AS
SELECT TOP 5
    cust.CustomerID,
    CONCAT(cust.FirstName, ' ', cust.LastName) AS FullName,
    coun.CountryName AS Country,
    ct.CityName AS City,
    COUNT(DISTINCT o.OrderID) AS TotalOrders,
    SUM(od.TotalPrice) AS TotalSales
FROM Customers AS cust
INNER JOIN Orders AS o ON cust.CustomerID = o.CustomerID
INNER JOIN Order_Details AS od ON o.OrderID = od.OrderID
LEFT JOIN Countries AS coun ON cust.CountryID = coun.CountryID
LEFT JOIN Cities AS ct ON cust.CityID = ct.CityID
GROUP BY cust.CustomerID, cust.FirstName, cust.LastName, coun.CountryName, ct.CityName
ORDER BY TotalSales DESC;
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_Cities_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_Cities_Countries]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Cities] FOREIGN KEY([CityID])
REFERENCES [dbo].[Cities] ([CityID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Cities]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_Countries] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_Countries]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Details_Orders]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Details_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
/****** Object:  StoredProcedure [dbo].[usp_load_category]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_load_category](
  @CategoryId INT,
  @CategoryName VARCHAR(25)
)
AS
BEGIN
  IF NOT EXISTS (SELECT 1 FROM Categories WHERE CategoryID = @CategoryId)
  BEGIN
    INSERT INTO Categories (CategoryID, CategoryName)
    VALUES (@CategoryId, @CategoryName);
  END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_load_city]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_load_city](
  @CityId INT,
  @CountryId INT,
  @CityName VARCHAR(25)
)
AS
BEGIN
  IF NOT EXISTS (SELECT 1 FROM Cities WHERE CityID = @CityId)
  BEGIN
    INSERT INTO Cities (CityID, CityName, CountryID)
    VALUES (@CityId, @CityName, @CountryId);
  END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_load_country]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_load_country] (
  @CountryId INT,
  @CountryName VARCHAR(70)
)
AS
BEGIN
  IF NOT EXISTS (SELECT 1 FROM Countries WHERE CountryID = @CountryId)
  BEGIN
    INSERT INTO Countries (CountryID, CountryName)
    VALUES (@CountryId, @CountryName);
  END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_load_customer]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_load_customer](
  @CustomerID INT,
  @FirstName VARCHAR(50),
  @LastName VARCHAR(50),
  @Email VARCHAR(100),
  @Phone VARCHAR(50),
  @CountryID INT,
  @CityID INT
)
AS
BEGIN
  IF NOT EXISTS (SELECT 1 FROM Customers WHERE CustomerID = @CustomerID)
  BEGIN
    INSERT INTO Customers (CustomerID, FirstName, LastName, Email, Phone, CountryID, CityID)
    VALUES (@CustomerID, @FirstName, @LastName, @Email, @Phone, @CountryID, @CityID);
  END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_load_order]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_load_order](
  @OrderID INT,
  @CustomerID INT,
  @OrderDate DATE,
  @Status VARCHAR(20)
)
AS
BEGIN
  IF NOT EXISTS (SELECT 1 FROM Orders WHERE OrderID = @OrderID)
  BEGIN
    INSERT INTO Orders (OrderID, CustomerID, OrderDate, Status)
    VALUES (@OrderID, @CustomerID, @OrderDate, @Status);
  END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_load_order_detail]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_load_order_detail](
  @OrderID INT,
  @ProductID INT,
  @Quantity INT,
  @TotalPrice DECIMAL(10,2)
)
AS
BEGIN
  IF NOT EXISTS (SELECT 1 FROM Order_Details WHERE OrderID = @OrderID AND ProductID = @ProductID)
  BEGIN
    INSERT INTO Order_Details (OrderID, ProductID, Quantity, TotalPrice)
    VALUES (@OrderID, @ProductID, @Quantity, @TotalPrice);
  END
END
GO
/****** Object:  StoredProcedure [dbo].[usp_load_product]    Script Date: 7/30/2026 10:33:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_load_product](
  @ProductID INT,
  @ProductName VARCHAR(150),
  @CategoryID INT,
  @Price DECIMAL(10,2),
  @Stock INT
)
AS
BEGIN
  IF NOT EXISTS (SELECT 1 FROM Products WHERE ProductID = @ProductID)
  BEGIN
    INSERT INTO Products (ProductID, ProductName, CategoryID, Price, Stock)
    VALUES (@ProductID, @ProductName, @CategoryID, @Price, @Stock);
  END
END
GO
USE [master]
GO
